.menu {
  width: 100%;
  position: absolute;
  background-color: rgb(4, 8, 47) !important;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  li {
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
  }

  li:hover {
    background: rgb(248, 0, 9);
    border-radius: 5px;
    //border-bottom: red solid 2px;
  }
  a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
  }
}
